<footer>
  <!-- <span>
    &copy; <time datetime="{{ site.time }}">{{ site.time | date: '%Y' }}</time> {{ site.author.name }}.
  </span> -->

  <!-- 다크 모드 스크립트 -->
  <script>
    // 다크 모드 버튼 가져오기
    const themeToggle = document.getElementById('theme-toggle');
    console.log('Theme toggle button:', themeToggle); // 버튼 확인
  
    // 로컬 스토리지에서 현재 테마 확인
    const currentTheme = localStorage.getItem('theme');
    console.log('Current theme from storage:', currentTheme); // 저장된 테마 확인
  
    if (currentTheme === 'dark') {
      document.body.classList.add('dark-mode'); // 다크 모드 활성화
      themeToggle.textContent = '☀️'; // 라이트 모드 아이콘
    }
  
    // 다크 모드 전환 로직
    themeToggle.addEventListener('click', () => {
      console.log('Button clicked'); // 버튼 클릭 로그
      document.body.classList.toggle('dark-mode'); // 다크 모드 토글
      if (document.body.classList.contains('dark-mode')) {
        localStorage.setItem('theme', 'dark'); // 다크 모드 상태 저장
        themeToggle.textContent = '☀️'; // 라이트 모드 아이콘
        console.log('Dark mode activated'); // 활성화 로그
      } else {
        localStorage.setItem('theme', 'light'); // 다크 모드 상태 저장
        themeToggle.textContent = '🌙'; // 라이트 모드 아이콘
        console.log('Dark mode deactivated'); // 비활성화 로그
      }
    });
  </script>

  <!-- 코드 블록 복사 버튼 스크립트 추가 -->
  <script>
    document.addEventListener('DOMContentLoaded', function() {
        // 최상위 컨테이너인 highlighter-rouge를 모두 탐색합니다.
        var codeBlocks = document.querySelectorAll('div.highlighter-rouge');
    
        codeBlocks.forEach(function(block) {
            // 복사 버튼 요소를 생성합니다.
            var button = document.createElement('button');
            button.className = 'copy-btn';
            button.type = 'button';
            button.innerText = 'Copy';
        
            // 생성한 버튼을 코드 블록 컨테이너에 추가합니다.
            block.appendChild(button);
        
            // 버튼 클릭 이벤트를 정의합니다.
            button.addEventListener('click', function() {
                var code = block.querySelector('code');
                var text = code.innerText;
            
                // Clipboard API를 사용하여 텍스트를 복사합니다.
                navigator.clipboard.writeText(text).then(function() {
                    button.innerText = 'Copied!';
                    button.classList.add('copied');
                
                    // 2초 후 원래 상태로 복구합니다.
                    setTimeout(function() {
                        button.innerText = 'Copy';
                        button.classList.remove('copied');
                    }, 2000);
                });
            });
        });
    });
  </script>

</footer>
