<script>
  const isDark = localStorage.getItem('theme') === 'dark';
  const initialThemeUrl = isDark 
    ? 'https://yhkwon6658.github.io/assets/css/giscus-dark.css' 
    : 'https://yhkwon6658.github.io/assets/css/giscus-light.css';

  const script = document.createElement('script');
  script.src = 'https://giscus.app/client.js';
  script.setAttribute('data-repo', 'yhkwon6658/yhkwon6658.github.io');
  script.setAttribute('data-repo-id', 'R_kgDOIrFStw');
  script.setAttribute('data-category', 'Announcements');
  script.setAttribute('data-category-id', 'DIC_kwDOIrFSt84DCrYa');
  script.setAttribute('data-mapping', 'pathname');
  script.setAttribute('data-strict', '0');
  script.setAttribute('data-reactions-enabled', '1');
  script.setAttribute('data-emit-metadata', '0');
  script.setAttribute('data-input-position', 'top');
  script.setAttribute('data-theme', initialThemeUrl);
  script.setAttribute('data-lang', 'ko');
  script.setAttribute('data-loading', 'lazy');
  script.crossOrigin = 'anonymous';
  script.async = true;
  document.currentScript.parentNode.appendChild(script);
</script>