<script>
  MathJax = {
    tex: {
      // $ ... $ 형태를 인라인 수식으로 인식하도록 설정
      inlineMath: [['$', '$'], ['\\(', '\\)']],
      displayMath: [['$$', '$$'], ['\\[', '\\]']],
      processEscapes: true
    }
  };
</script>
<script id="MathJax-script" async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
</script>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-site-verification" content="dKHGr9nGyHB_tpJCgH5hUJ0uf-E9WC3qKVwiZ5xzYow" />
  
  {% seo %}

  <!-- JetBrains Mono 웹 폰트 로드 -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap" rel="stylesheet">

  <!-- CSS -->
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700">

  <!-- Favicon -->
  <link rel="icon" type="image/png" sizes="32x32" href="{{ "/assets/favicon/favicon-32x32.png" | relative_url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ "/assets/favicon/favicon-16x16.png" | relative_url }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/favicon/apple-icon-180x180.png" | relative_url }}">

  <!-- RSS -->
  {% feed_meta %}

  <!-- Google Analytics-->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-G87HD3KC9S"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  
    gtag('config', 'G-G87HD3KC9S');
  </script>
</head>
