.container {
  margin: 0 auto;
  max-width: 800px;
  width: 80%;
}

main,
footer,
.nav-container {
  display: block;
  margin: 0 auto;
  max-width: 800px;
  width: 80%;
}

.nav {
  /* box-shadow: 0 2px 2px -2px $shadow-color; 👈 지저분한 그림자 제거 */
  border-bottom: 1px solid $grey-2; /* 👈 하단 선과 동일한 실선 테두리 적용 */
  overflow: auto;

  &-container {
    margin: 1rem auto;
    position: relative;
    text-align: center;
  }

  &-title {
    @include transition(all .2s ease-out);
    color: $default-color;
    display: inline-block;
    margin: 0;
    padding-right: .2rem;

    &:hover,
    &:focus {
      opacity: .6;
    }
  }

  ul {
    list-style-type: none;
    margin: 1rem 0 0;
    padding: 0;
    text-align: center;
  }

  li {
    @include transition(all .2s ease-out);
    color: $default-color;
    display: inline-block;
    opacity: .6;
    padding: 0 2rem 0 0;

    &:last-child {
      padding-right: 0;
    }

    &:hover,
    &:focus {
      opacity: 1;
    }
  }

  a {
    color: $default-color;
    font-family: $sans-serif;
  }
}

@media (min-width: 600px) {
  .nav {
    &-container {
      text-align: left;
    }

    ul {
      bottom: 0;
      position: absolute;
      right: 0;
    }
  }
}

footer {
  font-family: $serif-secondary;
  padding: 2rem 0;
  text-align: center;

  span {
    color: $default-color;
    font-size: .8rem;
  }
}

/* --- 다크 모드 토글 버튼 스타일 --- */
#theme-toggle {
  all: unset;
  cursor: pointer;
  font-size: 20px;
  
  &:hover {
    transform: scale(1.1);
    @include transition(transform .2s ease-in-out); /* Tale 테마의 기본 애니메이션 믹스인 활용 */
  }
}